/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
}

.title {
  font-family: Mantou Sans, sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.price {
  font-family: "Noto Sans";
  font-size: 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 800;
  color: #FF892E;
}

.content .title {
  font-family: Mantou Sans, sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}
.content .price {
  font-family: "Noto Sans";
  font-size: 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 800;
  color: #FF892E;
}
.content .content {
  font-family: "Noto Sans";
  font-size: 24px;
  font-weight: 500;
}
.content .card_pic {
  width: 200px;
  height: 230px;
  overflow: hidden;
}
.content .card_pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_pic {
  width: 200px;
  height: 230px;
  overflow: hidden;
}
.card_pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-cols-1 > .col {
  width: 100%;
}

.row-cols-2 > .col {
  width: 50%;
}

.row-cols-3 > .col {
  width: 33.333333%;
}

.row-cols-4 > .col {
  width: 25%;
}

.row-cols-5 > .col {
  width: 20%;
}

.row-cols-6 > .col {
  width: 16.666666%;
}

@media (width >= 768px) {
  .row-cols-md-1 > .col {
    width: 100%;
  }
  .row-cols-md-2 > .col {
    width: 50%;
  }
  .row-cols-md-3 > .col {
    width: 33.333333%;
  }
  .row-cols-md-4 > .col {
    width: 25%;
  }
  .row-cols-md-5 > .col {
    width: 20%;
  }
  .row-cols-md-6 > .col {
    width: 16.666666%;
  }
}
@media (width >= 1024px) {
  .row-cols-lg-1 > .col {
    width: 100%;
  }
  .row-cols-lg-2 > .col {
    width: 50%;
  }
  .row-cols-lg-3 > .col {
    width: 33.333333%;
  }
  .row-cols-lg-4 > .col {
    width: 25%;
  }
  .row-cols-lg-5 > .col {
    width: 20%;
  }
  .row-cols-lg-6 > .col {
    width: 16.666666%;
  }
}
@media (width >= 1200px) {
  .row-cols-xl-1 > .col {
    width: 100%;
  }
  .row-cols-xl-2 > .col {
    width: 50%;
  }
  .row-cols-xl-3 > .col {
    width: 33.333333%;
  }
  .row-cols-xl-4 > .col {
    width: 25%;
  }
  .row-cols-xl-5 > .col {
    width: 20%;
  }
  .row-cols-xl-6 > .col {
    width: 16.666666%;
  }
}
header {
  width: 100%;
  height: 85px;
  background-color: #fff;
  left: 0;
}
header .logo {
  width: 120px;
  height: 80px;
}
header nav {
  width: 100%;
  max-width: 1920px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav div {
  display: flex;
}
header nav div li {
  padding: 0 30px;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
header nav ul li a:hover {
  color: red;
}
header nav .nav_icons {
  width: 280px;
  border: 1px solid #000;
}
header nav .nav_icons div {
  display: flex;
  flex-direction: column;
  width: 78px;
  height: 58px;
  align-items: center;
  border: 2px solid #FF892E;
  border-radius: 10px;
}
header nav .nav_icons div img {
  width: 25px;
  height: 25px;
  margin: auto;
}
header nav .nav_icons div p {
  margin: 0;
  color: #FF892E;
}

.pro_wrap {
  width: 1200px;
  margin: auto;
}

.top {
  margin-top: 100px;
  height: 200px;
}

.content {
  width: 200px;
}

.product {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card_group .card {
  width: 200px;
  border: 1px solid #FF892E;
}

.test {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */