$gray_1 :#e4e4e4 ;
$gray_2 : #868686;
$gray_3 : #333;

$black : #222;
$white : #fff;


$blue-1: #aaaafc;
$blue-2: #7373fd;
$blue-3: #3f3ff8;
$blue-4: #1f1ff9;
//==============================================

$primary : red;
$secondary : #e5ff00;


$fontcolor : $gray_3;
$bgcolor : $white;

$btnbg : $blue-3;
$btnfont : $white;


$bgc :(
 primary : #7367f0,
 secondary : #a8aaae,
 success : #3cdc18,
 info : #001aff
)








