// 字型
$font_family_1: 'Noto Sans';
$font_family_2: ' Mantou Sans';

// 字體大小
// 基本文字
$font_basic : 16px;
// h1-h4(頁面)
$font_size_1 :93px;
$font_size_2 :65px;
$font_size_3 :36px;
$font_size_4 :28px;
// h5-h7(內文)
$font_size_5 :36px;
$font_size_6 :30px;
$font_size_7 :24px;


// 字體間距
$space_letter: 1.5px;

// 字體行高
$baseline: 1.5px;
















// $btnfont : $fontbasic;
// $btnfont_large : round($fontbasic * 1.3);
// $btnfont_xxl : round($fontbasic * 1.6);

// $font_style : 400