// 字型
$font_family_1: 'Noto Sans';
$font_family_2: 'Mantou Sans';

// 字體大小
// 基本文字
$font_basic : 16px;
// h1-h4(頁面)
$font_size_1 :93px;
$font_size_2 :65px;
$font_size_3 :36px;
$font_size_4 :28px;
// h5-h7(內文)
$font_size_5 :36px;
$font_size_6 :30px;
$font_size_7 :24px;


// 字體間距
$space_letter: 1.5px;

// 字體行高
$line_height: 1.5px;


// 標題元件

//頁面標題(饅頭)93px
@include title_1 {
    font-family: $font_family_2 ;
    font-size: $font_size_1;
    color: $black;
}

//頁面標題(饅頭)65px
@include title_2 {
    font-family: $font_family_2 ;
    font-size: $font_size_2;
    color: $black;
}

//頁面標題(饅頭)36px
@include title_3 {
    font-family: $font_family_2 ;
    font-size: $font_size_3;
    color: $black;
}

//頁面標題(饅頭)28px
@include title_4 {
    font-family: $font_family_2 ;
    font-size: $font_size_4;
    color: $black;
}

//-------------------------------