// 字型
$font_family_1: 'Noto Sans TC', sans-serif;
$font_family_2: 'Mantou Sans';


// 字體大小
// 基本文字
$font_basic: 16px;
$font_size_1: 93px;
$font_size_2: 65px;
$font_size_3: 36px;
$font_size_4: 28px;
$font_size_5: 36px;
$font_size_6: 30px;
$font_size_7: 24px;
$font_size_8: 20px;


// 字體間距
$space_letter: 1.5px;

// 字體行高
$line_height: 1.5;


// 標題元件
//頁面標題(饅頭)93px
@mixin title_1 {
    font-family: $font_family_2 ;
    font-size: $font_size_1;
    font-weight: initial;
}

//頁面標題(饅頭)65px
@mixin title_2 {
    font-family: $font_family_2 ;
    font-size: $font_size_2;
    font-weight: initial;
}

//頁面標題(饅頭)36px
@mixin title_3 {
    font-family: $font_family_2 ;
    font-size: $font_size_3;
    font-weight: initial;
}

//頁面標題(饅頭)28px
@mixin title_4 {
    font-family: $font_family_2 ;
    font-size: $font_size_4;
    font-weight: initial;
}

//-------------------------------

//內文標題(思源黑體)36px
@mixin title_5 {
    font-family: $font_family_1 ;
    font-size: $font_size_5;
    font-weight: 500;
}

//內文標題(思源黑體)30px
@mixin title_6 {
    font-family: $font_family_1 ;
    font-size: $font_size_6;
    font-weight: 500;
}

//內文標題(思源黑體)24px
@mixin title_7 {
    font-family: $font_family_1 ;
    font-size: $font_size_7;
    font-weight: 500;
}

//-------------------------------
//內文小字(思源黑體)24px
@mixin title_8 {
    font-family: $font_family_1 ;
    font-size: $font_size_7;
}

//內文小字(思源黑體)20px
@mixin title_9 {
    font-family: $font_family_1 ;
    font-size: $font_size_8;
}

//內文小字(思源黑體)16px
@mixin title_10 {
    font-family: $font_family_1 ;
    font-size: $font_basic;
}


// box-shadow
@mixin box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}