/*var*/
$fontsize : 16px; // 數值
$bgcolor : #fff; // 顏色
$fontW: null; //null
$list : 0px 2px; // list
$title :(
    h1 : 40px,
    h2 : 38px,
    h3 : 30px,
    h4 : 25px,
    h5: 18px
    ); // map


// $color : #333;
// $color : blue !default;
$link : #1900ff;

//斷點
$t : 1024px;
$m : 576px;


//boder_radius

$border-radius-1 : 4px;
$border-radius-2 : 8px;
$border-radius-3 : 12px;
$border-radius-4 : 16px;

$container_w : 1366px;
$gap : 10px;



