body {
    font-size: $font_basic;

}

// 頁面背景色設定
// #app {
//     background: linear-gradient(-10deg, $green 0% 30%, rgba(255, 255, 255, 0) 30% 100%);
//     z-index: 0;
//     // 設margin-top高度 = header高度
//     margin-top: 85px;
// }