.bookmark {
    margin: auto;
    width: 1200px;
}


.bookmark_tab ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.bookmark_content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.bookmark_tab li {
    border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    line-height: 50px;
    padding: 30px;
    font-family: $font_family_2 ;
    font-size: $font_size_3;
}


.bookmark_content li {
    border-radius: 10 0px;
    line-height: 50px;
    padding: 50px;
}

.bookmark_content li p {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
}

.active_tab {
    // font-weight: bold;
}