// 手機板
.bookmark {
    margin: auto;
    width: 80%;
}

.bookmark_tab ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 36px;

}

.bookmark_content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    display: block;
    width: 100%;
}

.bookmark_tab li {
    border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    line-height: 50px;
    padding: 15px;
    @include title_4;

}


.bookmark_content li {
    border-radius: 10 0px;
    line-height: 30px;
    padding: 25px;
}

.bookmark_content li p {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}



// PC版
@media screen and (min-width: 1200px) {
    .bookmark {
        width: 52%;
    }

    .bookmark_tab li {
        @include title_3;
    }

    .bookmark_content li {
        line-height: 30px;
        padding: 50px;
        line-height: 50px;
    }

    .bookmark_content li p {
        padding: 50px;
    }
}