.bread {
    background-color: $orange;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // 麵包屑文字
    ul {
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;

        li {
            @include title_10;
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        // 麵包屑最後一個改成白字
        li:last-child {
            color: $white;
        }

    }

}