.bread {
    background-color: $orange;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // 麵包屑文字
    ul {
        width: 100%;
        max-width: 1000px;
        display: flex;
        align-items: center;
        position: relative;

        @media screen and (max-width:768px) {
            max-width: 700px;
        }

        @media screen and (max-width:414px) {
            max-width: 380px;
        }

        li {
            @include title_10;
            text-decoration: none;
            padding: 0 5px;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        // 麵包屑最後一個改成白字
        li:last-child {
            color: $white;
        }

        li:not(li:last-child) {
            cursor: pointer;
        }

        li:last-child:after {
            content: '';
            height: 1px;
            // 寬度不確定要設多少?
            width: 80%;
            background-color: $black;
            position: absolute;
            top: 50%;
            margin-left: 20px;

            @media screen and (max-width:414px) {
                width: 50%;
            }

        }

    }

}

@media(max-width: 768px){
    .bread{
        ul{
            max-width: 600px;
            padding-left: 20px;

            li:last-child:after{
                width: 180px;
            }
        }
    }
}