.cart-btn {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ff892e;
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    color: $orange;

    &:hover {
        background-color: #ff892e;
    }

    .img {
        object-fit: contain;
        object-position: center;
        width: 20px;
        fill: var(--, #ff892e);
        overflow: hidden;
        max-width: 100%;
        margin: auto 0;
        transition: fill 0.2s;
        /* 加入過渡效果，使顏色變化更平滑 */
    }
}



.add {
    color: var(--, #ff892e);
    text-align: center;
    letter-spacing: 1.5px;
    font: 500 20px/45px Noto Sans, sans-serif;
    transition: color 0.2s ease-in-out;
    /* 加入過渡效果，使顏色變化更平滑 */
}

.cart-btn:hover .img {
    filter: brightness(0) invert(1);
    /* 透過 filter 屬性反轉顏色 */
}

.cart-btn:hover .add {
    color: white;
}