.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 80px 0;
    font-family: $font_family_2;
    color: $black;
    font-size: $font_size_1;
    text-align: center;
    @media (width<1200px){
        flex-direction: column;
    }
    @media (width<576px){
        font-size:$font_size_2;
    }
    .countdownright{
        display: flex;
        justify-content: center;
        gap: 30px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span:first-child{
                color: $orange;
                font-size: $font_size_2;
                @media (width<576px){
                    font-size:$font_size_3;
                }
            }
            span:last-child{
                font-size: $font_size_3;
                @media (width<576px){
                    font-size:$font_size_4;
                }
            }
        }
    }
    .countdownch{
        letter-spacing: 17px;
    }
}
.countdownline::after{
    content: "";
    display: inline-block;
    width: 180px;
    border-bottom: 2px solid $black; 
    // margin: 0 30px; 
    vertical-align: middle;
    @media (width<1200px){
        display: none;
    }

}