.drop-down-cart {
    width: 405px;
    // height: 80vh;
    position: absolute;
    border: 2px solid $gray_2;
    background-color: $white;
    border-radius: $border-radius-1 ;
    right: -170px;

    @media screen and (max-width:1280px) {
        width: 355px;
        right: -135px;
    }

    .cart-group {
        max-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        overflow: scroll;

        .cart-item {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            border-bottom: 1px solid $gray_2;
            padding: 13px;

            .cart-pic {
                max-width: 135px;
                // border: 1px solid red;

                img {
                    max-width: 100%;
                    object-fit: cover;
                    vertical-align: middle;
                }

            }

            .cart-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 0 0 13px;


                .cart-text p {
                    font-family: $font_family_1;
                    letter-spacing: 1.3px;
                    line-height: $line_height;
                    font-weight: 700;
                    font-size: 16px;
                    margin: 0px 0px 10px;
                }

                .cart-text span {
                    @include title_9;
                    color: $orange;

                }

                .quality-trashcan {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    #num {
                        display: flex;
                        justify-content: flex-start;
                        align-items: stretch;

                        div {
                            background-color: $white;
                            border: none;
                            border-top: 1px solid $gray_3;
                            border-bottom: 1px solid $gray_3;
                            // border: 1px solid $gray_3;
                            padding: 8px 20px;
                        }

                        button {
                            background-color: $white;
                            border-top: 1px solid $gray_3;
                            border-bottom: 1px solid $gray_3;
                            // border: 1px solid $gray_3;
                            padding: 8.2px;
                            cursor: pointer;
                        }
                    }

                    .trash-can img {
                        cursor: pointer;
                    }
                }
            }


        }


    }
}