.container {
    --column-gap: 10px;
    max-width: 1200px;
    margin: auto;
    padding-left: var(--column-gap);
    padding-right: var(--column-gap);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--column-gap) * -1);
    margin-right: calc(var(--column-gap) * -1);
}

[class*=col-],
[class*=row-cols-]>.col {
    box-sizing: border-box;
    padding: 0 var(--column-gap);
}

//首頁的消息採用網格系統製作所以保留
@include grid(12);

//參考mixin的row_grid的func
@include row_grid(6);

@media (width >=768px) {
    @include grid(12, md);
    @include row_grid(6, md);
}

@media (width >=1024px) {
    @include grid(12, lg);
    @include row_grid(6, lg);
}

@media (width >=1200px) {
    @include grid(12, xl);
    @include row_grid(6, xl);
}