//會員登入input樣式
@mixin input_1 {
    width: 400px;
    height: 48px; 
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px 0;
}