.marq {
    background-color: $green;
    width: 100%;
    height: 75px;
    line-height: 75px;
    @include title_9;
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;

    @media (width<=768px) {
        height: 65px;
        line-height: 65px;
    }

    @media (width<=430px) {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
}

.marqbtn {
    width: 120px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: $white;
    box-shadow: 0 0 10px #b5db1bdc;
    @include title_10;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 10px;

    @media (width<=430px) {
        width: 100px;
        height: 30px;
        font-size: 14px;
    }

    a {

        color: $black;
    }
}