.marq {
    background-color: $green;
    width: 100%;
    height: 75px;
    font-size: $font_basic;
    line-height: 75px;
    font-family: $font_family_1;
}

.marqbtn {
    width: 104px;
    height: 28px;
    border-radius: 25px;
    border: 0;
    font-family: $font_family_1;

    a {
        color: $black;
    }
}