.successPop_bg {
    width: 100vw;
    height: 100vh;
    background-color: #4b4b4b72;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .con_success {
        width: 600px;
        // height: 600px;
        margin: auto;
        background-color: $green;
        border-radius: $border-radius-1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        .cross {
            position: absolute;
            top: -20px;
            left: 570px;
            cursor: pointer;
            position: absolute;
            z-index: 3;

            img {
                width: 55px;
            }
        }

        .con_success_group {
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            gap: 20px;

            .success_top {
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $white;
                margin: auto;
                border-radius: $border-radius-1;
                padding: 20px;


                h3 {
                    // @include title_3;
                    font-family: $font_family_2;
                    font-size: 45px;
                    font-weight: initial;
                    margin: 20px 0px 20px 0px;
                }

                p {
                    margin: 5px;
                    @include title_10;
                    font-weight: 700;
                }

                img {
                    width: 80px;
                }
            }

            .success_bottom {
                width: 500px;
                padding: 20px;
                background-color: $gray_3;
                border-radius: $border-radius-1;
                @include title_10;
                line-height: $line_height;
                letter-spacing: $space_letter;
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin: 3px 0px;

                }
            }

        }

    }
}