.successPop_bg {
    width: 100vw;
    height: 100vh;
    background-color: #4b4b4b72;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .con_success {
        width: 800px;
        height: 800px;
        margin: auto;
        background-color: $green;
        border-radius: $border-radius-1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        .cross {
            position: absolute;
            top: -30px;
            left: 760px;
            cursor: pointer;
            position: absolute;
            z-index: 3;
        }

        .con_success_group {
            width: 700px;
            display: flex;

            .success_top {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                width: 700px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $white;
                margin: auto;
                border-radius: $border-radius-1;
                padding: 30px;

                hr {
                    height: 2px;
                    background-color: $gray_3;
                }

                h2 {
                    @include title_2;
                    font-weight: initial;
                    margin: 20px 0px 50px 0px;
                }

                p {
                    margin: 8px;
                    @include title_10;
                    font-weight: 800;
                }

                img {
                    width: 150px;
                }
            }

            .success_bottom {
                height: 220px;
                padding: 30px;
                background-color: $gray_3;
                border-radius: $border-radius-1;
                @include title_10;
                line-height: $line_height;
                letter-spacing: $space_letter;
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin: 8px 0px;
                }
            }

        }

    }
}