footer{
    width: 100%;
    background-color: $white;
}

.footer_container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 30px;
    letter-spacing: 1px;
    box-sizing: border-box;
    @include title_9;
}
.footer_logo, .footer_contact, .footer_media {
    padding: 30px;
    margin: auto;
}
.footer_logo img {
    max-width: 200px;
    width: 100%;
}
.footer_container h4 {
    // text-align: center;
    @include title_7;
    padding: 10px 0;
    font-weight: 700;
}
.footer_container ul {
    padding-left: 0;
}
.footer_container li {
    list-style: none;
    padding: 8px 0;
}
.footer_media img {
    margin: 5px;
}
.footer_declaration {
    background-color: #3D3D3D;
    padding: 10px;
}
.footer_declaration p {
    display: block;
    max-width: 1200px;
    letter-spacing: 1px;
    color: white;
    line-height: 30px;
    margin: auto;
    padding: 0 30px;
}
@media (max-width: 768px) {
    .footer_logo{
        padding: 0;
        img{
        display: none;
        }
    }

    .footer_icon{
        display: flex;
    }
    .footer_container {
        flex-direction: column;
    }
    .footer_container h4 {
        text-align: center;
    }
    .footer_logo, .footer_contact, .footer_media{
          order:1;
          padding: 12px;
    }
    .footer_contact{
        order:2;
    }
}