

header {
    width: 100%;
    height: 85px;
    background-color: #fff;
    left: 0;
    
    .logo {
        width: 120px;
        height: 80px;
    }

    nav {
        width: 100%;
        max-width: 1920px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        div{
            display: flex;
            li{
                padding: 0 30px;
            }
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            li {
                

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;

                    &:hover {
                        color: red
                    }
                }

                // a:hover {}
            }
        }
        .nav_icons div{
            display: flex;
            flex-direction: column;
            width: 78px;
            height: 58px;
            align-items: center;
            border: 2px solid #FF892E; 
            border-radius: 5px;
            img{
                width: 25px;
                height: 25px;
                margin: auto;
            }
            p{
                margin: 0;
            }
        }

    }

}