.contect_search {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
    margin-bottom: 5px;

    @media screen and (max-width:768px) {
        margin-bottom: 0px;
    }


    .searchInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        input {
            width: 600px;
            height: 48px;
            border-radius: $border-radius-1;
            text-indent: 20px;

            @media screen and (max-width:414px) {
                width: 350px;
            }

            &:focus {
                outline: none;
                border: 2px solid $orange;
            }
        }

        label {
            @include title_10;
        }

    }
}

.commit_btn {
    width: 280px;
    margin-bottom: 0px;

    @media screen and (max-width:414px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.bread ul li:last-child:after {
    @media screen and (max-width:414px) {
        width: 100px;
    }
}