.donate_page {
  margin-top: 85px;

  h4 {
    margin-bottom: 30px;
    @include title_4;
    color: $orange;
    width: 100%;
  }

  .donate_page_banner {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;

    img {
      width: 100%;
    }

    h1 {
      @include title_1;
      color: $white;
      position: absolute;
    }
  }

  // 主要內容區塊
  .donate_page_main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include title_10;
      margin-top: 30px;
    }

    // 下一步按鈕
    button.donate_page_next {
      @include btn_3;
      margin: 90px 0;
      cursor: pointer;
    }

    // 我要捐款的標題
    .donate_page_title {
      display: flex;
      align-items: center;
      gap: 20px;
      border-bottom: 1px solid $gray_2;
      height: 80px;
      width: 100%;

      h2 {
        @include title_3;

      }
    }

    // 捐款資料內容
    .donate_page_content {
      margin-left: 60px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      input {
        margin-top: 10px;
      }

      // 捐款資料內容_會員資料
      .donate_page_info {

        p {
          color: red;
        }

        li {
          margin-top: 30px;
        }
      }

      // 捐款資料內容_捐款單位
      .donate_page_unit {

        p {
          @include title_10;
        }
      }

      // 捐款資料內容_聯絡資訊
      .donate_page_contact {


        input[type="checkbox"] {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }

        input {
          width: 100%;
          height: 40px;
          padding-left: 10px;
          border-radius: $border-radius-1;
        }

        .donate_page_email {
          margin: 30px 0;

          span {
            color: red;
          }
        }

        .donate_page_phone {
          span {
            color: red;
          }
        }
      }

      // 捐款資料內容_付款方式
      .donate_page_method {
        ul {
          display: flex;
          margin-top: 30px;
          gap: 20px;
          justify-content: start;
        }

        li {
          display: flex;
          flex-direction: column;
          gap: 40px;
          justify-content: center;
          align-items: center;
          // background-color: $white;
          border-radius: $border-radius-1;
          width: 160px;
          height: 180px;
          border: 1px solid #000;
          box-shadow: 0px 1px 0px #666, 0px 2px 0px #777, 0px 3px 0px #888, 0px 4px 0px #999, 0px 5px 0px #aaa, 0px 6px 0px #bbb;

          p {
            text-align: center;
          }

          img {
            width: 70px;
          }
        }

        .chosen {
          background-color: $orange;
          color: $white;
        }
      }

      // 捐款資料內容_金額選擇
      .donate_page_amount {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          margin-bottom: 60px;
        }

        ul {
          display: flex;
          gap: 60px;
          flex-wrap: wrap;
          li {
            border-radius: $border-radius-1;
            border: 1px solid $gray_3;
            position: relative;
            width: 310px;
            height: 160px;

            // 點數標籤(黃色圓形)
            .donate_point {
              border-radius: 50%;
              background: $yellow_2;
              width: 110px;
              height: 110px;
              text-align: center;
              line-height: 110px;
              color: $white;
              position: absolute;
              top: -70px;
              left: -50px;
              letter-spacing: 1px;
              @include title_4;

              span {
                font-size: 18px;
              }
            }

            .donate_amount_item {
              background: $gray_3;
              height: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 20px;
              border-radius: $border-radius-1 $border-radius-1 0 0;

              p {
                color: $white;
                text-align: center;
                margin: 0;
              }

              p:first-child {
                font-size: $font_size_7;
              }
            }
          }

          p.donate_amount_text {
            @include title_4;
            color: $orange;
            text-align: center;
            margin: 0;
            // li: 160px - div(容器上半)100px = 60px
            line-height: 60px;
          }
        }

      }

      // 了解進補點數按鈕
      .donate_detail {
        border: none;
        border-bottom: 1px solid $orange;
        @include title_9;
        color: $orange;
        background-color: rgba(255, 255, 255, 0);
        height: 40px;
        align-self: flex-end;
        
      }

      // 自訂金額區塊
      .donate_page_inputAmount {

        p:first-child {
          margin-bottom: 30px;

          span {
            color: $orange;
          }
        }

        div {
          border-radius: $border-radius-1;
          overflow: hidden;

          table {

            tr {
              height: 50px;

              td {
                line-height: 50px;
              }

              td:nth-child(1) {
                width: 220px;
                text-align: center;
                background-color: $orange;
                color: $white;
              }

              td:nth-child(2) {
                input {
                  height: 50px;
                  vertical-align: middle;
                  margin: 0;
                  width: 910px;
                }
              }

              td:nth-child(3) {
                width: 70px;
                text-align: center;
                background-color: $orange;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .donate_page {
    h4 {
      @include title_4;
      color: $orange;
      width: 100%;
      font-size: 28px;
    }

    .donate_page_banner {
      width: 100%;

      h1 {
        @include title_3;
      }
    }

    // 主要內容區塊
    .donate_page_main {
      max-width: 350px;

      // 下一步按鈕
      button.donate_page_next {
        margin: 50px 0;
        cursor: pointer;
      }

      // 我要捐款的標題
      .donate_page_title {

        h2 {
          @include title_3;
        }
      }

      // 捐款資料內容
      .donate_page_content {
        max-width: 350px;
        margin-left: 0px;
        margin-top: 20px;

        // 捐款資料內容_付款方式
        .donate_page_method {
          ul {
            display: flex;
            margin-top: 30px;
            gap: 20px;
            justify-content: start;
          }

          li {
            gap: 20px;
            height: 150px;
            align-items: center;

            p {
              margin: 0;
            }
          }
        }

        // 捐款資料內容_金額選擇
        .donate_page_amount {
          ul {
            display: flex;
            gap: 50px;

            li {
              width: 300px;

              // 點數標籤(黃色圓形)
              .donate_point {
                width: 100px;
                height: 100px;
                left: -50px;
                font-size: 24px;

                span {
                  font-size: 16px;
                }
              }
            }

          }

        }

        // 了解進補點數按鈕
        .donate_detail {
          font-size: 16px;
        }

        // 自訂金額區塊
        .donate_page_inputAmount {

          p:first-child {
            margin-bottom: 20px;
          }

          div {
            table {
              tr {
                td:nth-child(1) {
                  width: 80px;
                }

                td:nth-child(2) {
                  input {
                    height: 50px;
                    vertical-align: middle;
                    margin: 0;
                    width: 200px;
                  }
                }

                td:nth-child(3) {
                  width: 70px;
                  text-align: center;
                  background-color: $orange;
                  color: $white;
                }
              }
            }

          }
        }
      }
    }
  }
}