.donate_confirm {

    // banner
    .donate_confirm_banner {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;

        img {
            width: 100%;
        }

        h1 {
            @include title_1;
            color: $white;
            position: absolute;
        }
    }

    // 捐款確認資料
    .donate_container {
        max-width: 1200px;
        margin: auto;

        // 捐款確認資料的標題
        h3 {
            @include title_3;
            // color: $orange;
            text-align: center;
            margin: 135px 0 35px 0;
        }

        // 捐款確認資料的內容
        .content {
            border: 2px solid $orange;
            border-radius: $border-radius-1;
            padding: 30px;

            li {
                padding: 10px;

                +li {
                    border-top: 1px solid black;
                }
            }
        }

        // 捐款明細
        .donate_detail_table {
            display: flex;
            flex-direction: column;

            p {
                margin: 30px 0 20px 0;
                text-align: right;
                @include title_10;
            }

            h3 {
                @include title_3;
                color: $orange;
                text-align: center;
                margin: 0;
            }


            table {
                width: 100%;

                th {
                    @include title_9;
                    background-color: $orange;
                    color: #fff;
                    height: 50px;
                    line-height: 50px;
                    border-radius: $border-radius-1;
                    letter-spacing: 2px;
                    text-align: left;
                    padding-left: 0.5em;
                }

                tr:last-child {
                    border-top: 1px solid black;
                }

                td {
                    height: 40px;
                }

                td:last-child {
                    text-align: right;
                    padding-top: 20px;
                }

            }

            .donate_name {
                span {
                    padding-left: 0.5em;
                }
            }
        }

        // 捐款方式
        .donete_payment {
            display: flex;
            flex-direction: column;


            p {
                background-color: $orange;
                color: #fff;
                @include title_9;
                border-radius: $border-radius-1;
                padding-left: 10px;
                line-height: 50px;
            }

            img {
                margin: 30px 0;
                width: 175px;
                height: 26px;
            }

            div {
                display: flex;
                width: 100%;

                label {
                    @include title_10;
                    width: 200px;
                }

                input {
                    margin: 0 0 30px 15px;
                    border-radius: $border-radius-1;
                    height: 40px;
                    flex: 1;
                }

                span {
                    line-height: 20px;
                    padding-left: 10px;
                }
            }

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                flex: initial;
            }


            .credit_card {
                label {
                    width: 240px;
                    margin: 0;
                    padding: 0;
                }

                .credit_dash {
                    line-height: 40px;
                    padding-left: 15px;
                }
            }
        }
    }

    // 捐款按鈕
    .donate_confirm_button {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        button {
            @include btn_3;
            margin: 90px 0;
            cursor: pointer;
        }
    }
}


@media(max-width: 768px) {
    .donate_confirm {

        // banner
        .donate_confirm_banner {
            img {
                width: 100%;
            }

            h1 {
                @include title_3;
            }
        }

        // 捐款確認資料
        .donate_container {
            max-width: 350px;
            margin: auto;

            h3{
                margin-top: 80px;
                margin-bottom: 20px;
            }

            // 捐款確認資料的內容
            .content {
                padding: 15px;

                li {
                    padding: 10px;

                    +li {
                        border-top: 1px solid black;
                    }
                }
            }

            // 捐款資訊
            .donate_info_table {
                table {
                    tr {
                        font-size: 14px;
                    }

                    td:first-child {
                        letter-spacing: 2px;
                        width: 120px;
                        line-height: 20px;
                    }

                    td:last-child {
                        padding-left: 10px;
                        line-height: 40px;
                    }
                }
            }

            // 捐款明細
            .donate_detail_table {
                p{
                    margin-top: 0;
                }
                table {
                    th {
                        @include title_10;
                        letter-spacing: 1px;
                    }

                    td {
                        span {
                            letter-spacing: 1px;
                        }
                    }
                }
            }

            // 捐款方式
            .donete_payment {
                div {
                    label {
                        width: 100px;
                    }

                    input {
                        height: 30px;
                        flex: 1;
                    }
                }

                .credit_card {
                    label {
                        width: 140px;
                        margin: 0;
                        padding: 0;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        height: 200px;

                        input {
                            margin-bottom: 20px;
                            width: 235px;

                        }
                    }
                    .credit_dash {
                        display: none;
                    }
                }
            }
        }

        // 捐款按鈕
        .donate_confirm_button {
            max-width: 350px;

            button {
                @include btn_3;
                margin-top: 20px;
                margin-bottom: 60px;
                cursor: pointer;
            }
        }
    }
}