.donate_confirm {

    // banner
    .donate_confirm_banner {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }

        h1 {
            @include title_1;
            color: $white;
            position: absolute;
            font-weight: inherit;
        }
    }

    // 捐款確認資料
    .donate_container {
        max-width: 1200px;
        margin: auto;

        // 捐款確認資料的標題
        h3 {
            @include title_3;
            color: $orange;
            text-align: center;
            margin: 135px 0 35px 0;
        }

        // 捐款確認資料的內容
        .content {
            border: 2px solid $orange;
            border-radius: 10px;
            padding: 30px;

            li {
                padding: 10px;

                +li {
                    border-top: 1px solid black;
                }
            }
        }

        // 捐款資訊
        .donate_info_table {
            border-radius: $border-radius-1;
            overflow: hidden;
            border: 1px solid $gray_3;

            table {
                border: none;
                width: 100%;

                tr {
                    height: 50px;
                    line-height: 50px;
                }

                tr+tr {
                    border-top: 1px solid $gray_3;
                }

                td:first-child {
                    text-align: center;
                    background-color: $orange;
                    color: aliceblue;
                    letter-spacing: 2px;
                    width: 390px;
                }

                td:last-child {
                    padding-left: 20px;
                }
            }
        }

        // 捐款明細
        .donate_detail_table {

            p {
                margin: 30px 0 20px 0;
                text-align: right;
            }


            table {
                width: 100%;

                th {
                    @include title_9;
                    background-color: $orange;
                    color: #fff;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 10px;
                    letter-spacing: 2px;
                }

                tr:last-child {
                    border-top: 1px solid black;
                }

                td {
                    height: 40px;
                }

                td:last-child {
                    text-align: right;
                    padding-top: 20px;
                }

            }
        }

        // 捐款方式
        .donete_payment {
            display: flex;
            flex-direction: column;

            p {
                background-color: $orange;
                color: #fff;
                @include title_9;
                border-radius: 10px;
                padding-left: 10px;
                line-height: 50px;

            }

            img {
                margin: 30px 0;
                width: 175px;
                height: 26px;
            }

            div {
                display: flex;

                label {
                    @include title_10;
                    display: inline-block;
                    width: 200px;
                }

                input {
                    margin: 0 0 30px 30px;
                    border-radius: 10px;
                    height: 40px;
                    flex: 1;
                }

                span {
                    line-height: 20px;
                    padding-left: 10px;
                }
            }

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                flex: initial;
            }
        }
    }

    // 捐款按鈕
    .donate_confirm_button {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        button {
            @include btn_3;
            margin: 90px 0;
            cursor: pointer;
        }
    }
}