div.donate {
  position: relative;

  .donate_banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;

    h1 {
      @include title_1;
      color: $white;
      font-weight: initial;
      position: absolute;
    }

    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  // 主要區塊
  .donate_main {
    width: 100%;
    height: 1100px;
    display: flex;
    position: relative;

    // 背景圖片設定
    img.icon {
      position: absolute;
      // 設z-index以免背景圖蓋到卡片
      z-index: -1;
    }

    img.icon:nth-child(1) {
      left: -80px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    img.icon:nth-child(2) {
      right: 200px;
      top: 0px;
    }

    img.icon:nth-child(3) {
      right: 100px;
      bottom: 0px;
    }

    // 卡片區塊
    .donate_cards {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 60px;

      h2 {
        @include title_2;
        color: $white;
      }

      p {
        @include title_10;
        color: $white;
        margin-bottom: 20px;
      }

      // 卡片1
      .donate_card1 {
        width: 500px;
        height: 705px;
        padding: 0;
        margin: 0;
        border-radius: $border-radius-1;
        border: 3px solid $orange;
        display: flex;
        flex-direction: column;
        background: $white;

        // 卡片1上半
        .donate_card1_top {
          background-color: $orange;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 70%;
          overflow: hidden;

          .donate_card1_top>img {
            width: 100px;
          }

          h2 {
            height: 60px;
            margin-bottom: 20px;
          }
        }

        // 卡片1下半
        .donate_card1_bottom {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30%;

          button {
            margin: 0;
          }
        }
      }

      // 卡片2
      .donate_card2 {
        background-color: $white;
        border-radius: $border-radius-1;
        border: 3px solid $orange;

        // 卡片2上半
        .donate_card2_top {
          display: flex;
          justify-content: center;
          position: relative;
          height: 320px;

          img {
            width: 636px;
            vertical-align: middle;
            border-radius: 5px;

          }

          div {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            h3 {
              @include title_2;
              color: $white;
              font-weight: inherit;
              line-height: 60px;
              letter-spacing: 10px;
            }
          }
        }

        // 卡片2下半
        .donate_card2_bottom {
          height: 380px;
          position: relative;

          ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          li {
            width: 570px;
            line-height: 55px;
            display: flex;
            justify-content: center;
            border: 1px solid $gray_2;
            border-radius: $border-radius-1;

            span {
              display: inline-block;
              text-align: center;
            }

            span:first-child {
              width: 270px;
              border-radius: $border-radius-1;
              background-color: $green;
              height: 55px;
              justify-self: flex-start;
            }

            span:last-child {
              width: 300px;
            }
          }

          li+li {
            margin-top: 20px;
          }
        }
      }
    }
  }

}





// 手機板

@media (max-width: 768px) {
  div.donate {
    display: flex;
    flex-direction: column;

    .donate_banner {

      h1 {
        @include title_3;
      }
    }

    // 主要區塊
    .donate_main {

      // 背景圖片設定
      img.icon:nth-child(1) {
        width: 170px;
        height: 170px;
        left: -10px;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      img.icon:nth-child(2) {
        width: 140px;
        height: 140px;
        right: 0px;
        top: 0px;
      }

      img.icon:nth-child(3) {
        width: 160px;
        height: 160px;
        right: -10px;
        bottom: 0px;
      }

      // 卡片區塊
      .donate_cards {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
        max-width: 350px;
        margin: auto;

        // 卡片1
        .donate_card1 {
          width: 350px;
          padding: 0;
          margin: 0;
          border-radius: $border-radius-1;
          border: 3px solid $orange;

          // 卡片1上半
          .donate_card1_top {
            background-color: $orange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;

            .donate_card1_top>img {
              width: 100px;
            }

            h2 {
              height: 60px;
              margin-bottom: 20px;
            }

            p {
              @include title_10;
              margin-bottom: 20px;
            }
          }

          // 卡片1下半
          .donate_card1_bottom {
            height: 100px
          }
        }

        // 卡片2
        .donate_card2 {
          max-width: 350px;
          height: 500px;

          // 卡片2上半
          .donate_card2_top {
            max-width: 350px;
            height: 200px;

            img {
              width: 350px;
            }

            div {
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 100%;

              h3 {
                @include title_4;
                line-height: 40px;
              }
            }
          }

          // 卡片2下半
          .donate_card2_bottom {
            height: 380px;
            position: relative;

            ul {
              width: 350px;
              height: 300px;
            }

            li {
              width: 90%;
              height: 50px;
              line-height: 50px;

              span {
                @include title_10;
                font-size: 12px;
              }

              span:first-child {
                height: 50px;
              }

            }
          }
        }
      }
    }

  }
}