/* 手機版 */
.election {

    // banner圖
    .election_banner {
        background-image: url('@/assets/image/election/banner-480px.png');
        height: 1540px;
    }

    /* 候選人資訊 */
    .election_info {

        .election_content {
            display: flex;
            flex-direction: column;
            margin: auto;
            text-align: center;

            ul {

                li {
                    padding: 10px 10px;
                    font-size: 24px;
                }

                li:nth-child(1) {
                    color: #9D9D9D;
                    @include title_4;
                }

                li:nth-child(2) {
                    color: $orange;
                    @include title_2;
                    border-bottom: 1px solid black;
                }

                li:nth-child(3) {
                    @include title_3;
                }

                li:nth-child(7) {
                    @include title_3;
                }
            }
        }
    }

    /* 跑馬燈 */
    .election_marquee {
        background-color: $green;
    }

    // 政策懶人包
    .election_policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        position: relative;
        margin-bottom: 8%;

        // 標題
        .policy_title {
            @include title_2;
        }
    }
}



/*平板 */
@media screen and (min-width: 768px) {
    .election {

        /* banner */
        .election_banner {
            background-image: url('@/assets/image/election/banner-768px.png');
            background-repeat: no-repeat;
        }

        // 候選人資訊
        .election_info {
            .election_content {
                display: flex;
                flex-direction: row;
                justify-content: center;

                ul {
                    margin: 0 20px;
                }
            }
        }
    }
}



/*PC板 */
@media screen and (min-width: 1200px) {
    .election {

        /* banner */
        .election_banner {
            background-image: url('@/assets/image/election/banner-1920px.png');
            background-repeat: no-repeat;
        }

        // 候選人資訊
        .election_info {
            .election_content {
                display: flex;
                flex-direction: row;
                justify-content: center;

                ul {
                    margin: 0 100px;

                }
            }
        }
    }
}

// #app {
//     background: linear-gradient(-10deg, $green 0% 25%, rgba(255, 255, 255, 0) 25% 100%);
//     z-index: -1;
// }