.election {

    /* banner */
    /* 手機版 */
    .election_banner {
        // background-image: url('@/assets/image/election/banner-480px.png');
        // max-width: 100%;
        /* 父元素最大寬度設為100%，以適應不同屏幕 */
        height: 300px;
        object-fit: cover;
        /* 高度自動調整以保持圖片的比例 */
        margin-top: 80px;

        img {
            max-width: 100%;
            object-fit: cover;
            display: block;
        }

        /*平板 */
        @media screen and (min-width: 768px) {
            background-image: url('@/assets/image/election/banner-768px.png');
            background-repeat: no-repeat;
        }


        /*PC板 */
        @media screen and (min-width: 1200px) {
            background-image: url('@/assets/image/election/banner-1920px.png');
            background-repeat: no-repeat;
        }
    }


    /* 候選人資訊 */
    .horizontal-sliders {
        display: flex;
        flex-wrap: no-wrap;
        width: 200%;
        overflow-x: hidden;

        .election_info_slide {
            display: flex;
            height: 90vh;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 230px;

            img {
                height: 90%;
            }

            ul {

                li {
                    padding: 10px 10px;
                    font-size: 24px;
                }

                li:nth-child(1) {
                    color: #9D9D9D;
                    @include title_4;
                }

                li:nth-child(2) {
                    color: $orange;
                    @include title_2;
                    border-bottom: 1px solid black;
                }

                li:nth-child(3) {
                    @include title_3;
                }

                li:nth-child(5) {
                    @include title_3;
                }
            }
        }


    }

    /* 跑馬燈 */
    .election_marquee {
        background-color: $green;
    }

    // 政策懶人包
    .election_policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        position: relative;
        margin-bottom: 8%;

        // 標題
        .policy_title {
            @include title_2;
        }
    }

    // 三角形
    .election_background {
        .background {
            bottom: -30px;
        }
    }

}