.body {
    background: linear-gradient(-6deg, #D4FF1F 0% 18%, rgba(255, 255, 255, 0) 18% 100%);

    @media (width<=768px) {
        background: linear-gradient(-6deg, #D4FF1F 0% 21%, rgba(255, 255, 255, 0) 21% 100%);
    }

    @media (width<=460px) {
        background: linear-gradient(-6deg, #D4FF1F 0% 12%, rgba(255, 255, 255, 0) 12% 100%);
    }
}

.index_news_bg {
    background-color: $gray_1;
    padding: 10px;

    @media (width<=460px) {
        padding: 10px 0;
    }
}

.home_container {
    --column-gap: 10px;
    width: 75%;
    margin: auto;
    padding-left: var(--column-gap);
    padding-right: var(--column-gap);

    @media (width<=460px) {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


    .row {

        justify-content: space-between;
        gap: 40px;

        @media (width<=1280px) {
            gap: 20px;
        }

        @media (width<=768px) {
            gap: 40px;
            padding: 0;
        }

        @media (width<=460px) {
            padding: 20px 0;
        }

    }

    .index_news_flex {
        display: flex;
        justify-content: center;
        gap: 40px;

        @media (width<=1280px) {
            gap: 20px;
        }

        @media (width<=768px) {
            width: 100%;
            align-items: center;
            margin: auto;

        }

        .index_news_title {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            @include title_2;
            margin-bottom: 30px;
            margin-top: 105px;

            @media (width<=768px) {
                font-size: 45px;
                margin-bottom: 50px;
                margin-top: 70px;

            }

            @media (width<=460px) {
                font-size: 36px;
                letter-spacing: 2.5px;
                margin-bottom: 10px;

            }
        }

        .index_news_card {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            box-sizing: border-box;
            padding: 0;
            background-color: $white;
            border-radius: $border-radius-1;
            border: 1px solid $gray_1;
            box-shadow: 0 0 30px 0 $gray_2;
            text-decoration: none;
            color: $black;

            // @media (width<=768px) {
            //     box-shadow: none;
            // }

            @media (width<=460px) {
                flex-direction: column;
                width: 300px;
                margin: 0 auto;
            }

            .second-third-pic {
                @media (width<=768px) {
                    // width: 200px;
                    // height: 215px;
                }

                @media (width<=460px) {
                    width: 100%;
                    height: 200px;
                }
            }

            div {

                img {
                    width: 240px;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-end-start-radius: 10px;

                    @media (width<=1280px) {
                        width: 150px;
                    }

                    @media (width<=768px) {
                        width: 200px;
                        border-top-left-radius: 10px;
                        border-end-start-radius: 10px;
                    }

                    @media (width<=460px) {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        border-end-start-radius: 0px;
                        width: 100%;
                    }
                }
            }



            .news-first-card {
                @media (width<=768px) {
                    width: 330px;
                    // height: 230px;
                }

                @media (width<=460px) {
                    width: 100%;
                    height: 230px;
                }

                img {
                    border-radius: $border-radius-1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    vertical-align: middle;

                    @media (width<=768px) {
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        width: 200px;

                    }

                    @media (width<=460px) {
                        width: 100%;
                        border-bottom-left-radius: 0px;
                        border-top-right-radius: 10px;
                    }
                }
            }

            .fake-first {
                @media (width<=768px) {
                    width: 310px;
                }

                @media (width<=460px) {
                    width: 100%;
                }
            }

            .index_news_card_text {
                padding: 16px 20px 16px;
                letter-spacing: $space_letter;
                line-height: $line_height;
                @include title_10;

                img {
                    min-width: 100%;
                    vertical-align: middle;
                    border-radius: $border-radius-1;
                    object-fit: cover;
                }

                @media (width<=1280px) {
                    // height: 230px;
                    padding: 10px 20px 10px;

                    img {
                        height: 100%;
                        overflow: hidden;
                        vertical-align: middle;

                    }
                }

                @media (width<=768px) {
                    border-radius: $border-radius-1;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    width: 100%;
                    background-color: #fff;
                }

                @media (width<=460px) {
                    // width: 308px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 10px;
                }


                .index_news_card_header {
                    @include title_7;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    padding-bottom: 8px;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            .text-first {
                @media (width<=768px) {
                    // width: 537px;
                }

                @media (width<=460px) {
                    width: 100%;
                    background-color: $white;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 10px;
                }
            }

            .fake-content {
                @media (width<=768px) {
                    // width: 310px;
                    box-shadow: 0 0 30px 0 $gray_2;
                }

                @media (width<=460px) {
                    width: 100%;
                }
            }

            .fake-content2 {
                @media (width<=768px) {
                    width: 353px;
                }

                @media (width<=460px) {
                    // width: 300px;
                    width: 100%;
                }
            }
        }
    }
}

.index_news_flex>.index_news_card:nth-child(2) {
    flex-direction: column;

    @media (width<=768px) {
        margin-bottom: 30px;
        width: 100%;
        flex-direction: row;

    }

    @media (width<=460px) {
        width: 70%;
        flex-direction: column;

    }

    @media (width<=390px) {
        width: 76%;

    }

    div {
        // width: 460px;
        // height: 180px;

        @media (width<=768px) {
            width: 600px;
            // height: 180px;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



}

.index_news_flex>.index_news_card:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news_index_inner_flex {
    @media (width<=768px) {
        width: 100%;
        gap: 15px;
    }
}

.home_line_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 135px;
    width: 67.7%;
    margin: auto;

    @media (width<=1280px) {
        width: 75%;
        gap: 35px;
    }

    @media (width<=768px) {
        padding: 55px 0 80px;
    }

    @media (width<=460px) {
        padding: 0 0 0;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .home_line {
        height: 2px;
        width: 80%;
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;

        @media (width<=460px) {
            display: none;
        }
    }
}

.donate_container {
    width: 100%;
    margin-top: 100px;
    position: relative;
    border-radius: $border-radius-1;

    div {

        h2 {
            @include title_2;
            height: 100px;
            text-align: center;
            position: relative;
            margin-top: 105px;
            margin-bottom: 30px;

            @media screen and (max-width: 460px) {
                @include title_3;
                margin-top: 0px;
                margin-bottom: 0px;
                height: 70px;
            }
        }

        .donate_content {
            background-color: $white;
            margin: auto;
            border-radius: 10px;
            display: flex;

            @media screen and (max-width: 768px) {
                height: 490px;
                flex-direction: column;

            }

            @media screen and (max-width: 460px) {
                height: 310px;

            }

            p {
                @include title_7;
                margin: auto;
                line-height: 40px;
                padding: 0px 40px;
                text-align: justify;

                @media screen and (max-width: 1280px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 768px) {
                    padding: 0px 35px;
                    line-height: 30px;
                    margin-top: 65px;

                }

                @media screen and (max-width: 460px) {
                    padding: 0px 20px;
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 1.5px;

                }

            }

            .donate-pic {
                width: 500px;

                img {
                    width: 100%;
                    vertical-align: middle;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                }

                @media screen and (max-width: 768px) {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 260px;
                    margin: auto;

                    p {
                        background-color: #fff;
                        border-radius: 10px;
                    }

                    img {
                        width: 95%;
                        border-radius: 10px;
                    }
                }

                @media (width<=460px) {
                    width: 265px;
                    height: 160px;

                    img {
                        width: 100%;
                    }
                }

            }

        }

    }

}


.homebutton {
    width: 194px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    @media (width<=460px) {
        width: 155px !important;
        height: 45px;
    }

}

.banner {
    margin-top: 85px;
}

.bannercontent {
    overflow: hidden;
    position: relative;

    .bannershow {
        position: relative;
        display: flex;
        transition: transform 0.5s ease;
    }
}

.bannerleft {
    position: absolute;
    left: 40px;
    cursor: pointer;

    @media (width<=768px) {
        left: 20px;
    }
}

.bannerright {
    position: absolute;
    right: 40px;
    cursor: pointer;

    @media (width<=768px) {
        right: 20px;
    }
}

.bannercontent div img {
    width: 100vw;
}

.pointwrap {
    display: flex;
    width: 135px;
    justify-content: space-between;
    position: absolute;
    bottom: -40px;

    @media (width<=1280px) {
        display: none;
    }
}

.bannerpoint {
    background-color: $gray_2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.getdeep {
    background-color: $orange;
}

.banner>button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.8px solid #ffffff;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 25px;

    color: $white;

    @media (width<=768px) {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}


.banner>button:first-child {
    left: 20px;


}

.banner>button:last-child {
    right: 20px;
}

.banner>button:last-child {
    right: 60px;


}

.policy {
    // width: 80%;
    max-width: 1020px;
    display: flex;
    gap: 100px;

    @media (width<=768px) {
        width: 100%;
        gap: 70px;
    }

    @media (width<=460px) {
        gap: 30px;
        margin-bottom: 30px;
    }

    h3 {
        @include title_3;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        padding-top: 55px;
        position: relative;



        span:not(span:nth-child(3)) {
            position: relative;
        }

        span:nth-child(3) {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            right: -50px;
            bottom: -40px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }


    h3:nth-child(1) {
        background: $white;
        border: 7px solid $orange;

        // &::after{
        //     background: $orange;
        // }
        span:nth-child(3) {
            background: $orange;
        }
    }

    h3:nth-child(2) {
        background: $white;
        border: 7px solid $green;

        // &::after{
        //     background: $green;
        // }
        span:nth-child(3) {
            background: $green;
        }
    }

    h3:nth-child(3) {
        background: $white;
        border: 7px solid $blue;

        // &::after{
        //     background: $blue;
        // }
        span:nth-child(3) {
            background: $blue;

            img {
                width: 60px;
                height: 60px;
            }
        }
    }

}

@media screen and (max-width:768px) {
    .policy {

        h3 {
            @include title_4;
            width: 130px;
            height: 130px;
            padding-top: 30px;

            span:not(span:nth-child(3)) {
                position: relative;
            }

            span:nth-child(3) {
                width: 80px;
                height: 80px;
                right: -53px;
                bottom: -30px;


                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }


        h3:nth-child(1) {
            background: $white;
            border: 7px solid $orange;


            span:nth-child(3) {
                background: $orange;
            }
        }

        h3:nth-child(2) {
            background: $white;
            border: 7px solid $green;



            span:nth-child(3) {
                background: $green;
            }
        }

        h3:nth-child(3) {
            background: $white;
            border: 7px solid $blue;



            span:nth-child(3) {

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }
}

@media screen and (max-width:460px) {
    .policy {

        h3 {
            font-size: 16px;
            width: 80px;
            height: 80px;
            padding-top: 22px;
            letter-spacing: 1px;


            span:nth-child(3) {


                width: 50px;
                height: 50px;
                right: -25px;
                bottom: -30px;


                img {
                    width: 23px;
                    height: 23px;
                }
            }
        }


        h3:nth-child(1) {

            border: 3px solid $orange;



            span:nth-child(3) {}
        }

        h3:nth-child(2) {


            border: 3px solid $green;

            span:nth-child(3) {}
        }

        h3:nth-child(3) {


            border: 3px solid $blue;


            span:nth-child(3) {

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

    }
}