.home_container {
    --column-gap: 10px;
    max-width: 1200px;
    margin: auto;
    padding-left: var(--column-gap);
    padding-right: var(--column-gap);
}
.index_news_bg {
    background-color: $gray_1;
}

.index_news_flex {
    justify-content: center;
    gap: 40px;
    @media (width<768px){
        display: block;
        width: 100%;

    }
    .index_news_title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include title_2;
        margin: 145px 0;
    }
    .index_news_card {
        display: flex;
        @media (width<768px){
            display: inline;
        }
        flex-wrap: nowrap;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0;
        background-color: $white;
        border-radius: $border-radius-1;
        border: 1px solid $gray_1;
        box-shadow: 0 0 30px 0 $gray_2;
        text-decoration: none;
        color: $black;

        img {
            min-width: 100%;
            vertical-align: middle;
        }

        .index_news_card_text {
            padding: 16px 35px 0;
            letter-spacing: $space_letter;
            line-height: $line_height;
            @media (width<768px){
                background-color: $white;
            }
            @include title_10;
            .index_news_card_header {
                @include title_7;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }        
    }
}

.index_news_flex>.index_news_card:nth-child(2) {
    flex-direction: column;
    @media (width<768px){
        margin-bottom: 80px;
    }
    
}

.index_news_flex>.index_news_card:nth-child(2) img {
    width: 100%;
}

.news_index_inner_flex {
    flex-direction: column;
    gap: 40px;
    @media (width<768px){
        width: 100%;    
    }
}
.home_line_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    gap: 10px;

    .home_line{
        height: 2px;
        width: 41%;
        background-color: $orange; 
    }
    .dog{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .donate_line{
        width: 52%;
    }
}



.homebutton{
    width: 194px !important;

}
.bannercontent{
    overflow: hidden;
    position: relative;
    .bannershow{
        position: relative;
        display: flex;
        transition: transform 0.5s ease;
    }
}
.bannerleft{
    position: absolute;
    left: 0;
    cursor: pointer;
    @media (width<=767px){
        display: none;
    }
}
.bannerright{
    position: absolute;
    right: 0;
    cursor: pointer;
    @media (width<=767px){
        display: none;
    }
}

.bannercontent div img{
    width: 100vw;
}
.pointwrap{
    display: flex;
    width: 300px;
    justify-content: space-between;
    position: absolute;
    bottom: -50px;
}
.bannerpoint{
    background-color: $gray_2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.getdeep{
    background-color:$orange;
}
.banner>button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 40px;
}


.banner>button:first-child {
    left: 20px;
}

.banner>button:last-child {
    right: 20px;
}

.banner>button:last-child {
    right: 60px;
}