.news_wrap {
    margin-bottom: 50px;
    position: relative;
}
.news_banner {
    height: 600px;
    background-image: url('/src/assets/image/news/news_banner.png');
    background-size: cover;
    color: #ffffff;
    text-align: center;
    line-height: 600px;
    margin-top: 85px;
}
.news_banner h1 {
    font-weight: inherit;
    @include title_1;
}
.filter_form {
    position: inherit;
    .news_filter {
        display: flex;
        max-width: 1200px;
        width: 100%;
        height: 100px;
        padding: 0 50px;
        margin: 50px auto;
        box-sizing: border-box;
        align-items: center;
        background-color: #ffffff;
        span {
            border: none;
            color: black;
            width: 15px;
            height: 15px;
            padding: 0;
            margin: 0;
            text-align: center;

        }
        * {
            height: 51px;
            width: 250px;
            border: 1px solid $orange;
            margin: 8px;
            padding: 5px;
            border-radius: 10px;
            @include title_10;
            letter-spacing: 3px;
            &:focus {
                outline: none;
            }
    }
    }
    .btn {
        @include btn_4;
        @include title_9;
        height: 51px;
    } 
    .remove {
    background-color: white;
    border: none;
    font-size: 30px;
    color: $orange;
    font-weight: 700;
    width: 40px;
    }
}


.news_cards {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    a {
        color: black;
    }
}

.news_card {
    display: flex;
    margin: 25px 50px;
    border: 1px solid #d7d5d5;
    max-width: 1200px;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
}
.news_pic {
    max-width: 400px;
    width: 100%;
    max-height: 290px;
}
.news_pic img{
    width: 400px;
}
.news_content {
    padding: 30px 50px;
    @include title_9;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: white;
}
.news_content h3 {
    @include title_7;
    letter-spacing: $space_letter;
    font-weight: 700;
}

.news_info, .speech, .fake_news {
    color: $white;
    width: 125px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 50px;
    @include title_10;
}
.news_info {
    background-color: $green;
}
.speech {
    background-color: $blue;
}
.fake_news {
    background-color: $orange;
}

.news_content span {
    color: #666;
}


@media (max-width: 1200px) {
    .news_pic {
        img{
            width: 400px;
        }
    }
}
@media (max-width: 1100px) {
    .filter_form {
        padding: 10px;
    }
    .news_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 80px;
    }
    .news_card {
        width: 400px;
        height: 700px;
        flex-direction: column;
        margin: 25px;
        }
        .news_content {
            h3 {
                margin: 10px 0;
            }
        }
    }

@media (max-width: 1060px) {
    .news_cards {
        padding: 50px;
    }
}
@media (max-width: 1000px) {
    .news_cards {
        padding: 20px 30px;
    }
}

@media (max-width: 960px) {
    .news_filter {
        .news_search {
            display: none;
        }
    }
    .news_cards {
        padding: 60px;
        justify-content: space-between;
    }
    .news_card {
        width: 350px;
        .news_pic {
            img{
                width: 100%;
            }
        }
        .news_content {
            padding: 30px;
        }
    }
}
@media (max-width: 920px) {
    .news_cards {
        padding: 30px;
    }
}
@media (max-width: 860px) {
    .news_cards {
        justify-content: center;
        .news_card {
            width: 400px;
        }
    }
}
@media (max-width: 800px) {
    .news_filter {
        justify-content: center;
        * {
            display: none;
        }
        select {
            display: block;
            option {
                display: block;
            }
        } 
    }
    .news_cards {
        padding: 0;
    }
}
@media (max-width: 780px) {
    .news_banner {
        background-image: url('/src/assets/image/news/news_banner_m.png');
    }
}
@media (max-width: 414px) {
    .news_banner {
        background-image: url('/src/assets/image/news/news_banner_s.png');
    }
    .news_banner h1 {
        @include title_2;
    }
    .news_cards {
        .news_card {
            width: 350px;
        }
    }
}
@media (max-width: 375px) {
    .news_card {
        flex-direction: column;
    }
    .news_content {
        padding: 10px 20px;
        h3 {
            @include title_8;
            margin: 10px 0;
        }
        p {
            @include title_10;
        }
    }
}