.new_wrap {
    @include forgotpsw;
    .new_form {
        input {
            width: 500px;
        }
        .btn {
            margin-top: 30px;
        }
    }
}

@media (max-width: 735px) {
    .new_wrap {
        height: auto;
        .new_form {
            input {
                width: 413px;
            }
            .btn {
                margin-top: 20px;
            }
            
        }
    }
    
}
@media (max-width: 660px) {
    .new_wrap {
        height: auto;
        .new_form {
            input {
                width: 373px;
            }
            .btn {
                margin-top: 20px;
            }
            
        }
    }
    
}

@media (max-width: 375px) {
    .new_wrap {
        height: auto;
        .new_form {
            input {
                width: 250px;
                height: 30px;
                font-size: 12px;
            }
            .btn {
                margin-top: 20px;
            }
            
        }
    }
    
}