.pro_wrap {
    width: 1200px;
    margin: auto;

    //篩選器
    .pro-top {
        margin: 150px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;

        input {
            height: 48px;
            border-radius: $border-radius-1;
            text-indent: 20px;

            &:focus {
                outline: none;
                border: 2px solid $orange;
            }
        }

        .pro-class {
            width: 175px;
            height: 48px;
            border-radius: $border-radius-1;
            text-indent: 20px;
        }

    }

    //商品卡片
    .product {
        display: flex;
        justify-content: center;
        gap: 20px;

        .pro_card_group {
            // display: flex;
            justify-content: center;

            .card_group {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 40px;
                margin-bottom: 200px;

                @media screen and (max-width:768px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                .procard {
                    width: 200px;
                    color: $orange;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 400px;
                    justify-content: space-between;
                }
            }
        }
    }
}

//new icon
.newIcon {
    width: 80px;
    height: 80px;
    background-color: $green;
    font-family: $font_family_2;
    font-size: $font_size_8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    left: -25px;
    color: $black;
}