// .header {
//     height: 85px;
// }

.pro_info_group {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;

    .proText_group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .proLine {
            width: 480px;
            height: 1px;
            background-color: gray;
        }

        p {
            @include title_3;
            letter-spacing: 4px;

        }

        span {
            @include title_10;
            line-height: $line_height;
        }

        #num {
            display: flex;
            justify-content: center;
        }


    }

    .proPic_group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 20px;

        .bigPic {
            width: 500px;
            height: 400px;

            img {
                width: 100%;
                height: 100%;
                vertical-align: middle;
                object-fit: cover;
            }
        }

        .littlePic {
            display: flex;
            justify-content: space-between;
            align-items: center;


            div {
                width: 110px;
                height: 100px;

                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    object-fit: cover;
                }
            }
        }
    }
}

.pro_info_main{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .product_info_title{
        @include title_2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 30px;
        line-height: $line_height;
        letter-spacing: $space_letter;
        width: 100%;
    }

    .product_info_script{
        max-width: 800px;
        text-align: center;
        @include title_7;
        line-height: $line_height;
        letter-spacing: $space_letter;
    }
    img{
        margin-top: 75px;
        width: 100%;
        vertical-align: middle;
    }
}
// .test {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 50px;

//     .right {
//         display: flex;
//         justify-content: center;
//         gap: 20px;

//         div {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//         }
//     }
// }